<div class="sign_up">
  <h2 class="text-center mb-2">Crear cuenta</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), 'data-validate-target' => 'form', data: { controller: 'validate', target: 'validate.form' }) do |f| %>
    <div class="mb-2">
      <%= f.label 'Nombre de usuario', class: 'form-label' %>
      <%= f.text_field :username,
                       placeholder: "danieljgp2",
                       class: 'form-control',
                       data: { target: 'validate.input', validate: { presence: { message: '^Nombre de usuario requerido' } } } %>
    </div>

    <% if resource.errors.any? %>
      <div class="error mb-2">
        Este usuario ya existe
      </div>
    <% end %>

    <div class="mb-2">
      <%= f.label 'Nombre', class: 'form-label' %>
      <%= f.text_field :name,
                       placeholder: "Daniel",
                       class: 'form-control',
                       data: { target: 'validate.input', validate: { presence: { message: '^Nombre requerido' } } } %>
    </div>

    <div class="mb-2">
      <%= f.label 'Apellido', class: 'form-label' %>
      <%= f.text_field :last_name,
                       placeholder: "Guzzo",
                       class: 'form-control',
                       data: { target: 'validate.input', validate: { presence: { message: '^Apellido requerido' } } } %>
    </div>

    <div class="mb-2">
      <%= f.label 'Contraseña', class: 'form-label' %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres como mínimo)</em>
      <% end %><br />
      <%= f.password_field :password,
                           class: 'form-control',
                           data: { target: 'validate.input', validate: { presence: { message: '^Contraseña requerida' },
                                                                         length: { minimum: 6, message: '^La contraseña debe tener más de 6 caracteres' } } } %>
    </div>

    <div class="mb-2">
      <%= f.label 'Confirme contraseña', class: 'form-label' %><br />
      <%= f.password_field :password_confirmation,
                           class: 'form-control',
                           data: { target: 'validate.input', validate: { presence: { message: '^Confirmación de contraseña requerida' },
                                                                         length: { minimum: 6, message: '^La confirmación de contraseña debe tener más de 6 caracteres' },
                                                                         equality: { attribute: 'user[password]', message: '^Las contraseñas no coinciden' } } } %>
    </div>

    <div class="actions mb-2">
      <%= f.submit "Crear cuenta", class: "button", data: { action: 'validate#submitForm'} %>
    </div>
  <% end %>
  <div class="text-center">
    <%= render "shared/links" %>
  </div>
</div>
