<%- if controller_name != 'sessions' %>
  <%= link_to "Iniciar Sesión", new_session_path(resource_name), class: "links" %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Crear Cuenta", new_registration_path(resource_name), class: "links" %><br />
<% end %>
