<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand">Amazing Game</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Lista", challenges_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item">
          <%= link_to "Juego", new_challenge_path, class: 'nav-link active' %>
        </li>
      </ul>
      <div class="logout">
        <span>
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: 'links' %>
        </span>
      </div>
    </div>
  </div>
</nav>
