<div class="login">
  <h2 class="text-center mb-2">Iniciar Sesión</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { controller: 'validate', target: 'validate.form' }) do |f| %>
    <div class="mb-2">
      <%= f.label 'Nombre de usuario', class: 'form-label' %><br />
      <%= f.text_field :username,
                       class: 'form-control',
                       placeholder: 'danieljgp2',
                       data: { target: 'validate.input', validate: { presence: { message: '^Nombre de usuario requerido' } } } %>
    </div>

    <div class="mb-2">
      <%= f.label 'Contraseña', class: 'form-label' %><br />
      <%= f.password_field :password,
                           autocomplete: "current-password",
                           class: 'form-control',
                           data: { target: 'validate.input', validate: { presence: { message: '^Contraseña requerida' },
                                                                         length: { minimum: 6, message: '^La contraseña debe tener más de 6 caracteres' } } } %>
    </div>

    <% if flash[:alert] === 'Invalid Username or password.' %>
      <div class="error text-center mb-2">
        Usuario o contraseña invalido
      </div>
    <% end %>

    <div class="actions mb-2">
      <%= f.submit "Iniciar sesión", class: "button", data: { action: 'validate#submitForm'} %>
    </div>
  <% end %>
  <div class="text-center">
    <%= render "shared/links" %>
  </div>
</div>
