<%= render "shared/navbar" %>
<div class="list">
  <div class="text-center mb-2">
    <h1>Listado de juegos</h1>
  </div>
  <div class="table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tu número</th>
          <th scope="col">Número del contrincante</th>
          <th scope="col">Resultado</th>
        </tr>
      </thead>
      <tbody>
        <% @challenges.each do |challenge| %>
          <% presenter = ChallengePresenter.new(challenge) %>
          <tr>
            <td><%= challenge.number %></td>
            <td><%= challenge.opponent_number %></td>
            <td><%= presenter.winner_text %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @challenges %>  
  </div>
</div>
