<%= render "shared/navbar" %>
<% presenter = ChallengePresenter.new(@last_challenge) %>
<div class="dashboard">
  <div class="text-center mb-2">
    <h1>Bienvenido</h1>
    <span class="username"><%= current_user.username %> </span>
  </div>
  <div class="rules">
    <span class="title">Reglas</span>
    <ul>
      <li>
        <span>
          Si el número elegido para el contrincante corresponde a un número par, gana el jugador que tenga un número más alto.
        </span>
      </li>
      <li>
        <span>
          Si el número elegido para el contrincante es un número impar, gana el jugador que tenga un número más bajo.
        </span>
      </li>
      <li>
        <span>
          El número ingresado debe estar entre 1 y 10
        </span>
      </li>
    </ul>
  </div>
  <%- if @last_challenge -%>
    <div class="last-game text-center">
      <span class="title">Resultado del último juego</span>
      <div class="item">
        <span>
          Tu número: <%= @last_challenge.number %>
        </span>
      </div>
      <div class="item">
        <span>
          El número de tu oponente: <%= @last_challenge.opponent_number %>
        </span>
      </div>
      <div class="item">
        <span class="result">
          <%= presenter.winner_text %>
        </span>
      </div>
    </div>
  <% end %>

  <div class="game mt-2 mb-2">
    <div class="text-center">
      <span>
       ¡Preparate para jugar!
      </span>
    </div>
    <div class="text-center">
      <span>
       Que la suerte este contigo
      </span>
    </div>
  </div>

  <div class="new-game">
    <%= form_for :challenge, url: '/challenges', data: { controller: 'validate', target: 'validate.form' } do |f| %>
      <%= f.number_field :number, class: 'form-control', data: { target: 'validate.input',
                                                                    validate: { presence: { message: '^Ingresa un número'},
                                                                                numericality: { message: '^Número invalido',
                                                                                                greaterThan: 0,
                                                                                                onlyInteger: true,
                                                                                                lessThanOrEqualTo: 10 } } } %>
      <%= f.submit 'Juego', class: 'button mt-2', data: { action: 'validate#submitForm'} %>
    <% end %>
  </div>
</div>
