// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.list {
  padding-top: 40px;
  width: 700px;
  margin: 0 auto;
}

.page,
.next,
.last,
.prev,
.first {
  padding: 15px;
  margin-right: 10px;
  border-radius: 25px;
  background: #ebeff5;
}

.dashboard {
  padding-top: 40px;
  width: 700px;
  margin: 0 auto;
  .username {
    font-size: 25px;
  }
  .last-game {
    margin-bottom: 30px;
    margin-top: 30px;
    color: grey;
    .title {
      font-weight: 700;
      font-size: 20px;
    }
    .result {
      font-weight: 700;
      font-size: 20px;
    }
  }
  .new-game {
    width: 200px;
    margin: 0 auto;
  }
  .rules {
    color: grey;
    .title {
      padding-left: 40px;
      font-weight: 700;
      font-size: 20px;
    }
  }
  .game {
    color: grey;
  }
}
