// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.errors {
  padding-top: 40px;
  width: 700px;
  margin: 0 auto;
}
